---
import Layout from "../components/layout.astro";
---

<Layout 
    pageTitle="About us"
    metaDescription="Servicios de Astro">

    <h1>About us</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus illo sed, ab saepe et officiis quaerat obcaecati quae nihil minima tempora debitis velit, modi dolores ut accusantium quos, quasi mollitia fugiat magni laboriosam. Corrupti quibusdam excepturi reprehenderit quas recusandae odit, molestias perspiciatis eveniet pariatur modi esse earum maiores reiciendis cum.`</p>
    
</Layout>